<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>docment</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/holder.min.js"></script>
    <script src="/public/js/application.js"></script>
</head>

<body>
<div class="container">
    <p>欢迎你，<{$name}></p>
    <table class="table table-bordered">
        <tr class="warning">
            <td>用户名</td>
            <td><{$name}></td>
        </tr>
        <tr class="warning">
            <td>密码</td>
            <td><{$upwd}></td>
        </tr>
        <tr>
            <td>电话号码</td>
             <td><{$phone}></td>
        </tr>
        <tr>
            <td>昵称</td>
            <td><{$nname}></td>
        </tr>
        <tr>
            <td>性别</td>
            <td><{$gender}></td>
        </tr>
    </table>
</div>



</body>
</html>