<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="image/x-icon" href="/Public/favicon.ico" rel="shortcut icon">
    <title>用户信息</title>
    <link rel="stylesheet" href="/Public/css/bootstrap.min.css">
    <taglib name="html" />
</head>
<body>
<header>
    <div class="container">
        <div class="headertop" style="overflow: hidden;">
            <!-- 用户信息 -->
            <div class="pull-right" style="margin: 20px 30px 0 0;">
                欢迎您，<a href="<{:U('userinfo')}>">[<{$Think.session.uname}>]</a>
                <a href="<{:U('loginAndReg')}>">安全退出</a>
                <a href="<{:U('index')}>">返回</a>
            </div>
            <!-- blog网站名称 -->
            <h1>Lovo Blog</h1>
            <!-- 头部导航  -->
            <ul class="nav nav-pills daohang">
                <li><a href="userinfo.html">用户详情</a></li>
                <li><a href="userinfo.html?caozuo=1">修改资料</a></li>
                <li><a href="userinfo.html?caozuo=2">修改密码</a></li>
                <li><a href="userinfo.html?caozuo=3">我的博客</a></li>
                <li><a href="userinfo.html?caozuo=4">我的评论</a></li>
                <li><a href="userinfo.html?caozuo=5">浏览记录</a></li>
                <li><a href="userinfo.html?caozuo=6">发表博客</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- 页面内容部分 -->
<div class="container" style="margin-top: 30px;">
    <!--用户详情-->
    <if condition="$caozuo eq 0">
        <div class="col-sm-12" style="background-color: #f9f9f9;min-height: 300px;font-size: 24px; ">
            <table class="table table-hover table-condensed" style=" margin-top: 60px;">

                <tr>
                    <td>姓名</td>
                    <td><{$data.uname}></td>
                </tr>
                <tr>
                    <td>昵称</td>
                    <td><{$data.uloginname}></td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td><{$data.usex}></td>
                </tr>
                <tr>
                    <td>联系电话</td>
                    <td><{$data.umobile}></td>
                </tr>
                <tr>
                    <td>QQ</td>
                    <td><{$data.uqq}></td>
                </tr>
                <tr>
                    <td>家庭住址</td>
                    <td><{$data.uaddress}></td>
                </tr>
                <tr>
                    <td>注册时间</td>
                    <td><{$data.uregtime}></td>
                </tr>
                <tr>
                    <td>最后修改时间</td>
                    <td><{$data.ulastupdatetime}></td>
                </tr>
            </table>
        </div>
        <elseif condition="$caozuo eq 1"/>
        <form action="<{:u('xiugaiziliao')}>" id="fom" method="post" style="font-size: 24px;">
            <table class="table table-hover table-condensed">
                <tr>
                    <td class="">用户名:</td>
                    <td class=""><input type="text" name="uloginname" style="width: 55%;" class="input-lg"
                                        value="<{$data.uloginname}>"></td>
                </tr>
                <tr>
                    <td class="">姓名:</td>
                    <td class=""><input type="text" name="uname" style="width: 55%;" class="input-lg"
                                        value="<{$data.uname}>"></td>
                </tr>
                <tr>
                    <td class="">性别:</td>
                    <td class="">
                        <input type="radio" name="usex" value="男" id="usex">男
                        <input type="radio" name="usex" value="女" id="usex">女
                    </td>
                </tr>
                <tr>
                    <td class="">生日:</td>
                    <td class=""><input type="date" name="ubirthday" style="width: 55%;" class="input-lg"
                                        value="<{$data.ubirthday}>"></td>
                </tr>
                <tr>
                    <td class="">家庭住址:</td>
                    <td class=""><input type="text" name="uaddress" style="width: 55%;" class="input-lg"
                                        value="<{$data.uaddress}>"></td>
                </tr>
                <tr>
                    <td class="">email:</td>
                    <td class=""><input type="text" name="uemail" style="width: 55%;" class="input-lg"
                                        value="<{$data.uemail}>"></td>
                </tr>
                <tr>
                    <td class="">QQ:</td>
                    <td class=""><input type="text" name="uqq" style="width: 55%;" class="input-lg"
                                        value="<{$data.uqq}>"></td>
                </tr>
                <tr>
                    <td class="">电话:</td>
                    <td class=""><input type="text" name="umobile" style="width: 55%;" class="input-lg"
                                        value="<{$data.umobile}>"></td>
                </tr>
            </table>
            <button class="btn btn-default btn-lg" style="position: relative;left: 330px;color:#0088cc"><a
                    href="javascript:history.go(-1)">返回上一页</a></button>
            <button type="submit" class="btn btn-default btn-lg" style="position:relative;left: 510px;color:#533bcc">
                确认修改
            </button>
        </form>
        <script>
            document.forms['fom'].usex.value = '<{$data.usex}>';
        </script>
        <elseif condition="$caozuo eq 2"/>
        <!--修改密码-->
        <!--旧密码-->
        <div class="col-sm-12" style="background-color: #f9f9f9;min-height: 300px;">
            <form action="<{:U('updatemima')}>" method="post" id="foms" enctype="multipart/form-data"
                  class="form-horizontal" id="myfor" name="myform"
                  style="position: absolute;left: 400px;top: 90px;font-size: 24px;">
                <div class="form-group ">
                    <table>
                        <tr>
                            <td>
                                <label for="uname" class="control-label"><span class="">旧密码：</span></label>
                            </td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="password" name="jiumima" id="jiumi" required="required"
                                           class="form-control input-lg" value="" placeholder="请输入旧密码"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--新密码-->
                <div class="form-group ">
                    <table>
                        <tr>
                            <td>
                                <label for="uname" class="control-label"><span class="">新密码：</span></label>
                            </td>
                            <td>
                                <div class="col-lg-12">
                                    <input type="password" name="ulgongpwd" id="xinmi" required="required"
                                           class="form-control input-lg" value="" placeholder="请输入新密码"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <button type="submit" class="btn btn-default btn-lg" id="mima"
                        style="position: relative;left: 100px;color:#0088cc">确认修改
                </button>
            </form>
        </div>
        <!--我的博客-->
        <elseif condition="$caozuo eq 3"/>
        <div class="container" style="margin-top: 30px;">
            <div class="col-sm-12" style="background-color: #f9f9f9;min-height: 1000px;">
                <h2>我的博客</h2>
                <hr>
                <foreach name="data" item="vo">
                    <div class="blist">
                        <h3><a href="<{:u('blog')}>?bid=<{$vo.bid}>"><{$vo.bbiaoti}></a></h3>
                        <p style="tab-index: 2em">
                            <{:mb_substr(htmlspecialchars_decode($vo['bneirong']),0,300)}>...
                        </p>
                        <div class="pull-right">
                            <a href="<{:u('shanchuboke')}>?bid=<{$vo.bid}>">删除</a>
                            <a href="<{:u('xiugaiboke_XS')}>?bid=<{$vo.bid}>">修改</a>
                        </div>
                        <br>
                        <div class="pull-right">
                            <span><{$vo.btime}></span>
                        </div>
                    </div>
                </foreach>
            </div>
        </div>
            <!--我的评论-->
            <elseif condition="$caozuo eq 4"/>
            <div class="container" style="margin-top: 30px;">
                <div class="col-sm-12" style="background-color: #f9f9f9;min-height: 500px;">
                    <h2>我的评论</h2>
                    <hr>
                    <foreach name="data" item="vo">
                        <div class="blist">
                            <h3><a href="<{:u('blog')}>?bid=<{$vo.bid}>"><{$vo.bbiaoti}></a></h3>
                            <p style="tab-index: 2em"><{:mb_substr($vo['bneirong'],0,150)}>...</p>
                            <hr>
                            <p style="right: 50px;color: #5bc0de">评论</p>
                            <p style="margin-left: 80px"><{$vo.pcontent}></p>
                            <span class="pull-right"><a href=""><{$vo.uname}></a> <{$vo.ptime}></span>
                            <br>
                            <hr>
                        </div>
                    </foreach>
                    <hr>
                </div>
            </div>
            <elseif condition="$caozuo eq 5"/>
            <div class="container" style="margin-top: 30px;">
                <div class="col-sm-12" style="background-color: #f9f9f9;min-height: 500px;">
                    <h2>浏览记录</h2>
                    <hr>
                    <foreach name="data" item="vo">
                        <div class="blist">
                            <h3><a href="<{:u('blog')}>?bid=<{$vo.bid}>"><{$vo.bbiaoti}>
                            </a></h3> <a href=""><{$vo.uname}></a>
                            <br>
                            <p style="tab-index: 2em">
                                <{:mb_substr($vo['bneirong'],0,150)}>.......
                            </p>
                            <div class="pull-right">
                                <span>浏览时间：<{$vo.readtime}></span>
                            </div>
                            <hr>
                        </div>
                    </foreach>
                </div>
            </div>
            <elseif condition="$caozuo eq 6"/>
            <div style="max-width: 1000px;margin: 0 auto" id="fabiao">
                <h3 class="text-center">发表博客</h3>
                <form action="<{:U('fabuboke')}>" method="post">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">标题：</span>
                        <input type="text" name="bittle" class="form-control">
                    </div>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">类别：</span>
                        <select name="blogclass" id="blogclass" class="form-control">
                            <option value="">--请选择博客类别--</option>
                            <foreach name="select" item="vo">
                                <option value="<{$vo.bcid}>"><{$vo.bcname}></option>
                            </foreach>
                            </select>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">状态：</span>
                        <p style="margin-top: 11px;margin-left: 10px">
                            发布：<input type="radio" name="zhuangtai" value="1" checked>
                            不发布：<input type="radio" name="zhuangtai" value="0" checked>
                        </p>
                    </div>


                    <div>
                        <div><html:editor id="info" style="height:300px
"    name="pcontent" type="UEDITOR"></html:editor></div>
                        <input type="submit" class="btn btn-default btn-lg" style="position: relative;left: 400px; top: 10px;color:#0088cc" name="chk">
                    </div>



                </form>
            </div>
    </if>
</div>
<!-- 页面底部 -->
<footer>
    <div class="container" style="margin-top: 30px;">
        <hr>
        <div class="text-center" style="color: lightgray;">成都狼窝 &reg;2006--2017</div>
    </div>
</footer>
<script src="/Public/js/jquery.min.js"></script>
<script src="/Public/js/bootstrap.min.js"></script>
<script>
    $(function () {
        var cidnum = location.search.substr(1).split("&")[0].split("=")[1];
        if (!cidnum) cidnum = 0;
        $(".daohang li").eq(cidnum).attr("class", 'active');
    });
</script>
</body>
</html>